/* @theme example */

@import 'uncover';

section {
  background: #cef;
  color: #135;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.5em;
}
